@import '~bootstrap/scss/bootstrap';

html,
body {
  background-color: var(--bs-light);
}

header {
  padding: 0.5em 1em;
  font-size: 1.5em;
  color: var(--bs-white);
  background-color: var(--bs-primary);
}

main {
  padding: 1em;
}

footer {
  padding: 0.5em 1em;
  color: var(--bs-white);
  background-color: var(--bs-secondary);

  p {
    margin: 0;
    text-align: center;
  }
}
