.card {
  width: 18rem;
  margin: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .h5,
  .h6 {
    font-weight: 400;
  }

  .h5 {
    font-size: 1.25rem;
  }

  .h6 {
    font-size: 1rem;
  }

  .cardDescription {
    margin-top: 8px;
    font-size: 0.9rem;
  }
}
